body
{
    margin:0;
    font-family:arial;
    font-size:18px;
    color:#333;
    padding:0;

}
li{
    list-style:none;
    line-height:2em;
    text-align:left;

}
header
{
    background:#f4f4f4;
    border-bottom:#ccc 3px solid;
 height:130px;
 text-align:center;
    padding-top:40px;
}
#container{
    width:960px;
    margin:20px auto;
    
}